{% set computed = log.games | logRecord %}
{% set recordLabel = log.record or computed.label %}
{% set weekName = log.weekWord or (log.week | weekWord) %}

<p class="log-masthead__eyebrow">
  <span>{{ site.title }}</span>
  <time datetime="{{ page.date | htmlDateString }}">{{ page.date | shortDate }}</time>
</p>
<h1 class="log-masthead__title">LOG<br>Week {{ weekName }}</h1>
{% set kicker = log.kicker or description %}
{% if kicker %}
<p class="log-masthead__kicker">{{ kicker }}</p>
{% endif %}
