<nav class="log-nav" aria-label="Newsletter sections">
  {% if log.games %}
  <a href="#games">Games</a>
  {% endif %}
  {% if log.rankings %}
  <a href="#rankings">Rankings</a>
  {% endif %}
  {% if log.blotter %}
  <a href="#blotter">Blotter</a>
  {% endif %}
  {% if log.slate %}
  <a href="#next-week">Next week</a>
  {% endif %}
  {% if log.gotw %}
  <a href="#gotw">GOTW</a>
  {% endif %}
</nav>
